* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$font-stack: Arial, Helvetica, sans-serif;
$light-color: #f2f2f2;
$primary-color: #111111;
$font: Mulish;
$num_col: 3;

$secondary-color: #4a4ff2;

// Set text color based on bg

body {
  background-color: $light-color;
  font-family: $font-stack;
  line-height: 1.6;
}

a {
  text-decoration: none;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 40px;

  ul {
    display: flex;
    list-style-type: none;
    margin-right: 40px;
  }

  li {
    padding: 15px;
  }

  a {
    color: $primary-color;
  }

  a:hover {
    color: $secondary-color;
  }
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 80px;
  margin-bottom: 40px;
  margin-left: 80px;
  margin-right: 80px;

  .left {
    margin-top: 10px;
  }

  .left__header {
    line-height: 28px;
    color: $secondary-color;
  }
  .left__desc {
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 60px;
    font-family: $font;
  }
  .left__desc-design {
    color: $secondary-color;
  }

  .right {
    padding-right: 10px;
  }
  .right__desc {
    font-family: $font;
    font-style: italic;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    /* identical to box height */
    color: $primary-color;

    mix-blend-mode: normal;
    opacity: 0.6;
  }
  .right__image {
    background: #111111;
    mix-blend-mode: normal;
    opacity: 0.5;
  }
}
.gallery {
  width: 1400px;
  display: grid;
  gap: 0.5rem;
  margin: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;

  .gallery__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .gallery__item--1 {
    grid-column: 1 / span 1;
    grid-row: 1 / span 3;
  }

  .gallery__item--2 {
    grid-column: 2 / span 1;
    grid-row: 1 / span 2;
  }
  .gallery__item--3 {
    grid-column: 3 / span 1;
    grid-row: 1 / span 5;
  }
  .gallery__item--4 {
    grid-column: 1 / span 1;
    grid-row: 4 / span 3;
  }

  .gallery__item--5 {
    grid-column: 2 / span 1;
    grid-row: 3 / span 3;
  }
  .gallery__item--6 {
    grid-column: 3 / span 1;
    grid-row: 6 / span 3;
  }
  .gallery__item--7 {
    grid-column: 1 / span 1;
    grid-row: 7 / span 4;
  }

  .gallery__item--8 {
    grid-column: 2 / span 1;
    grid-row: 6 / span 4;
  }
  .gallery__item--9 {
    grid-column: 3 / span 1;
    grid-row: 9 / span 5;
  }
  .gallery__item--10 {
    grid-column: 1 / span 1;
    grid-row: 11 / span 5;
  }
  .gallery__item--11 {
    grid-column: 2 / span 1;
    grid-row: 10 / span 6;
  }
  .gallery__item--12 {
    grid-column: 3 / span 1;
    grid-row: 14 / span 2;
  }
}

.sub-section {
  height: 400px;
  background-color: $light-color;
  margin: auto;

  display: flex;
  align-items: center;
  justify-content: space-around;

  .sub-section-right {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .sub-section-left {
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 38px;
    /* or 136% */

    color: #111111;
  }
  .sub-section-right-part1 {
    padding-right: 100px;
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    /* identical to box height */

    color: #111111;

    mix-blend-mode: normal;
    opacity: 0.6;
  }

  .sub-section-right-part2 {
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    /* identical to box height */

    color: #111111;

    mix-blend-mode: normal;
    opacity: 0.6;
  }
}

.mid-section {
  height: 400px;
  width: auto;
  margin-left: 40px;
  margin-right: 40px;

  display: flex;

  justify-content: space-between;
  .mid-section-left--modify {
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 28px;
    margin-top: 30px;
  }

  .mid-section-topics {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 50px;
    padding-bottom: 80px;
  }
  .mid-section-desc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 50px;
    padding-bottom: 80px;
    .mid-section-header {
      font-family: Mulish;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;
      /* identical to box height */

      color: #111111;
    }

    .mid-section-para {
      font-family: Mulish;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 26px;
      /* or 162% */

      color: #111111;

      mix-blend-mode: normal;
      opacity: 0.6;
    }
  }
  .mid-section-dates {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 50px;
    padding-bottom: 80px;
    margin-right: 50px;
    font-family: Mulish;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
/* identical to box height */

text-align: right;

color: #111111;

  }
}
@media only screen and (max-width: 600px) {
    .gallery { 
      display: flex;
     
      flex-wrap: wrap;
    }
    
  }