* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #f2f2f2;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
}

a {
  text-decoration: none;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 40px;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  margin-right: 40px;
}

nav li {
  padding: 15px;
}

nav a {
  color: #111111;
}

nav a:hover {
  color: #4a4ff2;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 80px;
  margin-bottom: 40px;
  margin-left: 80px;
  margin-right: 80px;
}

.container .left {
  margin-top: 10px;
}

.container .left__header {
  line-height: 28px;
  color: #4a4ff2;
}

.container .left__desc {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 60px;
  font-family: Mulish;
}

.container .left__desc-design {
  color: #4a4ff2;
}

.container .right {
  padding-right: 10px;
}

.container .right__desc {
  font-family: Mulish;
  font-style: italic;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  /* identical to box height */
  color: #111111;
  mix-blend-mode: normal;
  opacity: 0.6;
}

.container .right__image {
  background: #111111;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.gallery {
  width: 1400px;
  display: -ms-grid;
  display: grid;
  gap: 0.5rem;
  margin: auto;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
}

.gallery .gallery__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.gallery .gallery__item--1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / span 1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1 / span 3;
}

.gallery .gallery__item--2 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / span 1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / span 2;
}

.gallery .gallery__item--3 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / span 1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 5;
  grid-row: 1 / span 5;
}

.gallery .gallery__item--4 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / span 1;
  -ms-grid-row: 4;
  -ms-grid-row-span: 3;
  grid-row: 4 / span 3;
}

.gallery .gallery__item--5 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / span 1;
  -ms-grid-row: 3;
  -ms-grid-row-span: 3;
  grid-row: 3 / span 3;
}

.gallery .gallery__item--6 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / span 1;
  -ms-grid-row: 6;
  -ms-grid-row-span: 3;
  grid-row: 6 / span 3;
}

.gallery .gallery__item--7 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / span 1;
  -ms-grid-row: 7;
  -ms-grid-row-span: 4;
  grid-row: 7 / span 4;
}

.gallery .gallery__item--8 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / span 1;
  -ms-grid-row: 6;
  -ms-grid-row-span: 4;
  grid-row: 6 / span 4;
}

.gallery .gallery__item--9 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / span 1;
  -ms-grid-row: 9;
  -ms-grid-row-span: 5;
  grid-row: 9 / span 5;
}

.gallery .gallery__item--10 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / span 1;
  -ms-grid-row: 11;
  -ms-grid-row-span: 5;
  grid-row: 11 / span 5;
}

.gallery .gallery__item--11 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / span 1;
  -ms-grid-row: 10;
  -ms-grid-row-span: 6;
  grid-row: 10 / span 6;
}

.gallery .gallery__item--12 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / span 1;
  -ms-grid-row: 14;
  -ms-grid-row-span: 2;
  grid-row: 14 / span 2;
}

.sub-section {
  height: 400px;
  background-color: #f2f2f2;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.sub-section .sub-section-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.sub-section .sub-section-left {
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 38px;
  /* or 136% */
  color: #111111;
}

.sub-section .sub-section-right-part1 {
  padding-right: 100px;
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  /* identical to box height */
  color: #111111;
  mix-blend-mode: normal;
  opacity: 0.6;
}

.sub-section .sub-section-right-part2 {
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  /* identical to box height */
  color: #111111;
  mix-blend-mode: normal;
  opacity: 0.6;
}

.mid-section {
  height: 400px;
  width: auto;
  margin-left: 40px;
  margin-right: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mid-section .mid-section-left--modify {
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 28px;
  margin-top: 30px;
}

.mid-section .mid-section-topics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
  padding-bottom: 80px;
}

.mid-section .mid-section-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
  padding-bottom: 80px;
}

.mid-section .mid-section-desc .mid-section-header {
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */
  color: #111111;
}

.mid-section .mid-section-desc .mid-section-para {
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  /* or 162% */
  color: #111111;
  mix-blend-mode: normal;
  opacity: 0.6;
}

.mid-section .mid-section-dates {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
  padding-bottom: 80px;
  margin-right: 50px;
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */
  text-align: right;
  color: #111111;
}

@media only screen and (max-width: 600px) {
  .gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
/*# sourceMappingURL=style.css.map */